[submodule "orga_2023C2_db076faa6404ca37"]
	path = orga_2023C2_db076faa6404ca37
	url = git@github.com:fiubatps/orga_2023C2_db076faa6404ca37.git
[submodule "ASM"]
	path = ASM
	url = git@github.com:orgacomp/ASM.git
